@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
/* HEADER */
	#omeletteImg{
		width: 100vw;
	}
	
	#mainInfo{
		width: 100vw;
		display: flex;
		justify-content: center;
	}

	.conteiner{
		width: 85vw;
		display: flex;
		flex-direction: column;
		gap: 7vh;
		margin-top: 7vh;
	}

	#recipeName{
		font-family: var(--youngSerif);
		font-size: 1.9em;
		font-weight: 400;
		line-height: 1em;
		color: var(--darkCharcoal);
		text-align: start;
	}

	#recipeDescription{
		font-family: var(--outfit);
		color: var(--wengeBrown);
		font-size: 0.87em;
	}

	#processList{
		font-family: var(--outfit);
	}
	
	#preparationTime{
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	.roseCont{
		border-radius: 12px;
		background-color: var(--roseWhite);
	}
	
	#recipePrep{
		font-family: var(--outfit);
		color: var(--darkRaspberry);
	}

	#processList{
		color: var(--wengeBrown);
		font-size: 0.87em;
		width: 50vw;
	}
	
	.boldWords{
		font-weight: 700;
	}

}
